:root{
    --primary: #39DB4A;
    --primary-hover: #16b826;
    --shadow: #39db4a94;
    --bg-meal: #C1F1C6;
}

.pad{
    padding: 0 10%;
}

.color-primary{
    color: var(--primary);
}

.top-title{
    letter-spacing: 5px;
    margin-top: 36px;
}
